# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output
cypress/videos
cypress/screenshots

# Production
dist
build
storybook-static

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
*.iws
.idea_modules/

# TypeScript
*.tsbuildinfo

# Cache
.eslintcache
.stylelintcache
.cache
.parcel-cache
.next
.nuxt
.turbo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Storybook
storybook-static

# Cypress
cypress/videos
cypress/screenshots

ai_assistant/
src/pages/jobs/errors.md